<!-- NAVABR START -->
<nav id="backTopAncor" class="navbar navbar-expand-lg navBarBorder" aria-label="Tenth navbar example" style="background-color: #ededed;">
    <div class="container-fluid">
        <div class="col-6">
            <a class="navbar-brand" href="/#presentProduct">
              <img src="/loghi/logo1-xlgProvaTagliata.png" class="img-fluid ms-2" alt="logo">
            </a>
        </div>
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
    
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarToggle">
            <ul class="navbar-nav text-center fs-5">
              <li class="nav-item">
                <a class="nav-link linkForNav" aria-current="page" href="/#whyAncor">Why e-PFinance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkForNav" href="/#recensioniAncor">About e-PFinance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link linkForNav" href="/login">Login</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVABR END   -->
  
<!-- BTN RETURN TO TOP -->
<div class="container col-1 fixed-bottom ms-3 mb-3 backTopBtn d-flex align-items-center justify-content-center">
    <a class="nav-link fs-3" href="/#backTopAncor">
        <i class="bi bi-arrow-bar-up"></i>
    </a>
</div>
      
<main>
<!-- PRESENTATION EPFINANCE SECTION START -->
    <section id="presentProduct" class="container-fluid d-flex justify-content-center">
        <div class="row align-items-center justify-content-around">
            <div class="col-12 col-sm-6 col-md-7">
                <h1 class="fs-1 fw-bold text-center">Semplifica la finanza personale</h1>
                <h2 class="text-center">Scegli <span class="fw-bold">e-PFinance</span></h2>
                <div class="d-flex align-items-center justify-content-center mt-5">
                    <a href="/registration" class="btn btn-primary btn-lg me-2" role="button">Registrati</a>
                    <a href="/login" class="btn btn-lg btn-primary ms-2" role="button">Login</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5">
                <img src="/img/peopleLarge.png" alt="immaginegrafici" class="img-fluid">
            </div>
        </div>
    </section>
    <!-- PRESENTATION EPFINANCE SECTION END   -->
    <span id="whyAncor"></span>
    <!-- WHY EPFINANCE SECTION START-->
    <section id="whyEPFinance" class="container-fluid d-flex justify-content-center">
            <div class="row justify-content-center text-center">
                <div class="col-12 mb-5">
                    <h2 class="text-center fw-bold fs-1" >Perche' scegliere e-PFinance</h2>
                </div>
                <div class="col-12 col-lg-3 me-2 mt-sm-4">
                    <div class="container flex-column">
                        <div>
                            <img src="/img/noExcelSmall.png" alt="No Excel" class="img-fluid">
                        </div>
                        <div>
                          <h4>Stop Excel</h4>
                          <h6>Abbandona in modo definitivo Excel, i suoi fogli di calcolo e la necessita' di memorizzare formule complesse</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 me-2 mt-sm-4">
                    <div class="container d-flex flex-column">
                        <div>
                            <img src="/img/easyToUseSmall.png" alt="No Excel" class="img-fluid">
                        </div>
                        <div class="text-center">
                            <h4>Intuitivo</h4>
                            <h6>Semplice da usare grazie ad un'interfaccia <span class="fw-bold">User Friendly</span>  che ti permettera' di gestire il tutto velocemente</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 me-2 mt-sm-4">
                    <div class="container d-flex flex-column">
                        <div>
                            <img src="/img/onePlaceSmall.png" alt="No Excel" class="img-fluid">
                        </div>
                        <div class="text-center">
                            <h4>Centralizzato</h4>
                            <h6>Addio a fogli di calcolo sparsi per il pc o fogli cartacei sparsi per casa. Un'unica piattaforma per la gestione delle spese e degli investimenti</h6>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- WHY EPFINANCE SECTION END  -->
    <span id="recensioniAncor" class="visibility-hidden"></span>
    <!-- RECENSIONI SECTION START  -->
    <section id="recensioniSection" class="container-fluid d-flex flex-column justify-content-center pt-5">
        <div class="row justify-content-between text-center pt-5">
            <div class="col-12 mb-5">
                <h2 class="text-center fw-bold fs-1">About e-PFinance</h2>
            </div>
            <div id="carouselRecensioni" class="carousel carousel-dark slide col-12 col-md-6 pt-4 pb-4 m-auto" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mt-1 mb-1" style="width: 100%;">
                            <div class="container d-flex justify-content-center align-items-center separator pb-1 col-12">
                                <img src="/img/avatar1Small.png" alt="profiloRobert" class="img-fluid">
                                <h6 class="fs-4 ms-1">Robert</h6>
                            </div>
                            <div class="card-body mt-3">
                                <h6 class="card-title">Lorem, ipsum dolor.</h6>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolor a ab quae! Earum voluptas harum dolorum exercitationem quaerat deserunt delectus perspiciatis vitae dolor?</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mt-1 mb-1">
                            <div class="container d-flex justify-content-center align-items-center separator pb-1">
                                <img src="/img/avatar2Small.png" alt="profiloRobert" class="img-fluid">
                                <h6 class="fs-4 ms-1">Enock</h6>
                            </div>
                            <div class="card-body mt-3">
                                <h6 class="card-title">Lorem, ipsum dolor.</h6>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolor a ab quae! Earum voluptas harum dolorum exercitationem quaerat deserunt delectus perspiciatis vitae dolor?</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mt-1 mb-1">
                            <div class="container d-flex justify-content-center align-items-center separator pb-1">
                                <img src="/img/avatar3Small.png" alt="profiloRobert" class="img-fluid">
                                <h6 class="fs-4 ms-1">Samuel</h6>
                            </div>
                            <div class="card-body mt-3">
                                <h6 class="card-title">Lorem, ipsum dolor.</h6>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolor a ab quae! Earum voluptas harum dolorum exercitationem quaerat deserunt delectus perspiciatis vitae dolor?</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mt-1 mb-1">
                            <div class="container d-flex justify-content-center align-items-center separator pb-1">
                                <img src="/img/avatar4Small.png" alt="profiloRobert" class="img-fluid">
                                <h6 class="fs-4 ms-1">Catherine</h6>
                            </div>
                            <div class="card-body mt-3">
                                <h6 class="card-title">Lorem, ipsum dolor.</h6>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolor a ab quae! Earum voluptas harum dolorum exercitationem quaerat deserunt delectus perspiciatis vitae dolor?</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mt-1 mb-1">
                            <div class="container d-flex justify-content-center align-items-center separator pb-1">
                                <img src="/img/avatar5Small.png" alt="profiloRobert" class="img-fluid">
                                <h6 class="fs-4 ms-1">Joshua</h6>
                            </div>
                            <div class="card-body mt-3">
                                <h6 class="card-title">Lorem, ipsum dolor.</h6>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolor a ab quae! Earum voluptas harum dolorum exercitationem quaerat deserunt delectus perspiciatis vitae dolor?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecensioni" data-bs-slide="prev">
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRecensioni" data-bs-slide="next">
                </button>
            </div>
        </div>
    </section>
    <!-- RECENSIONI SECTION END    -->
  
    <!-- CONTACT AND FOOTER SECTION START    -->
    <section id="contactAncor" class="container-fluid">
        <div class="row align-items-center justify-content-evenly pt-3">
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <p><span><i class="bi bi-c-circle"></i></span>2022 e-PFinance</p>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center text-center">
                <p>
                    <span>
                        <i class="bi bi-envelope"></i>
                    </span>
                    <br>
                    colomboalessandro908@gmail.com
                </p>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <img src="/loghi/logo1-lgProvaTagliata.png" alt="logo" class="img-fluid">
            </div>
        </div>
    </section>
    <!-- CONTACT AND FOOTER SECTION END      -->
</main>
