<div class="container d-flex justify-content-center mt-5">
    <div class="row text-center">
        <h1>
            Oops!
        </h1>
        <h2>
            404 Not Found 
        </h2>
    </div>
</div>
